{
    "asalData":"S",
    "asuransi":0.00,
    "bruto":123.4500,
    "cif":0.00,
    "kodeJenisTpb":"1",
    "freight":0.00,
    "hargaPenyerahan":1234567.00,
    "idPengguna":"010693232092000 01234567890000",
    "jabatanTtd":"KUASA DIREKSI",
    "jumlahKontainer":0,
    "kodeDokumen":"40",
    "kodeKantor":"050900",
    "kodeTujuanPengiriman":"1",
    "kotaTtd":"JAKARTA",
    "namaTtd":"ABCD",
    "netto":123.4500,
    "nik":"123456789012345",
    "nomorAju":"05094012345620221230000001",
    "seri":0,
    "tanggalAju":"2022-10-21",
    "tanggalTtd":"2022-10-21",
    "volume":12.3456,
    "biayaTambahan":0.00,
    "biayaPengurang":0.00,
    "vd":0.00,
    "uangMuka":0.00,
    "nilaiJasa":0.00,
    "entitas":[
       {
          "alamatEntitas":"KAWASAN INDUSTRI CIKARANG",
          "kodeEntitas":"3",
          "kodeJenisIdentitas":"5",
          "namaEntitas":"PT ABC",
          "nibEntitas":"1234567890123",
          "nomorIdentitas":"456789012345000",
          "nomorIjinEntitas":"1234/KM.4/2021",
          "seriEntitas":1,
          "tanggalIjinEntitas":"2021-01-20"
       },
       {
          "alamatEntitas":"KAWASAN INDUSTRI CIKARANG BARAT",
          "kodeEntitas":"7",
          "kodeJenisApi":"2",
          "kodeJenisIdentitas":"5",
          "kodeStatus":"5",
          "namaEntitas":"PT ABC",
          "nibEntitas":"1234567890123",
          "nomorIdentitas":"456789012345000",
          "seriEntitas":2
       },
       {
          "alamatEntitas":"BANTEN",
          "kodeEntitas":"9",
          "kodeJenisApi":"2",
          "kodeJenisIdentitas":"5",
          "kodeStatus":"5",
          "namaEntitas":"PT XYZ",
          "nibEntitas":"1234567890456",
          "nomorIdentitas":"456789012345678",
          "seriEntitas":3
       }
    ],
    "dokumen":[
       {
          "kodeDokumen":"640",
          "nomorDokumen":"DO-001/12/2022",
          "seriDokumen":1,
          "tanggalDokumen":"2022-12-01"
       },
       {
          "kodeDokumen":"380",
          "nomorDokumen":"INV-001/12/2022",
          "seriDokumen":2,
          "tanggalDokumen":"2022-12-02"
       },
       {
          "kodeDokumen":"217",
          "nomorDokumen":"PL-001/2022/12/03",
          "seriDokumen":3,
          "tanggalDokumen":"2022-12-03"
       }
    ],
    "pengangkut":[
       {
          "namaPengangkut":"TRUK",
          "nomorPengangkut":"B1234XYZ",
          "seriPengangkut":1
       }
    ],
    "kontainer":[
       
    ],
    "kemasan":[
       {
          "jumlahKemasan":1000,
          "kodeJenisKemasan":"NE",
          "merkKemasan":"-",
          "seriKemasan":1
       }
    ],
    "pungutan":[
       {
          "kodeFasilitasTarif":"3",
          "kodeJenisPungutan":"PPN",
          "nilaiPungutan":123456.00
       }
    ],
    "barang":[
       {
          "asuransi":0.00,
          "bruto":123.4500,
          "cif":0.00,
          "diskon":0.00,
          "hargaEkspor":0.00,
          "hargaPenyerahan":1234567.00,
          "hargaSatuan":0.00,
          "isiPerKemasan":0,
          "jumlahKemasan":0.00,
          "jumlahRealisasi":0.00,
          "jumlahSatuan":1000.0000,
          "kodeBarang":"BRG01",
          "kodeDokumen":"40",
          "kodeJenisKemasan":"NE",
          "kodeSatuanBarang":"EA",
          "merk":"-",
          "netto":123.4500,
          "nilaiBarang":0.00,
          "posTarif":"48191000",
          "seriBarang":1,
          "spesifikasiLain":"ABCD1111",
          "tipe":"TIPE BARANG",
          "ukuran":"",
          "uraian":"Box",
          "volume":12.3456,
          "cifRupiah":0.00,
          "hargaPerolehan":0.00,
          "kodeAsalBahanBaku":"1",
          "ndpbm":0.00,
          "uangMuka":0.00,
          "nilaiJasa":0,
          "barangTarif":[
             {
                "kodeJenisTarif":"1",
                "jumlahSatuan":1000.00,
                "kodeFasilitasTarif":"3",
                "kodeSatuanBarang":"EA",
                "nilaiBayar":123456.00,
                "nilaiFasilitas":100.00,
                "nilaiSudahDilunasi":0.00,
                "seriBarang":1,
                "tarif":11.00,
                "tarifFasilitas":100.00,
                "kodeJenisPungutan":"PPN"
             }
          ]
       }
    ]
 }