# Ignore SQLite database files
*.sqlite
*.sqlite3
*.db
*.pyc
apps/__pycache__
bsl/__pycache__
apps/migrations
bsl/migrations
bsl/settings.py
merchandise/migrations
merchandise/__pycache__
warehouse/migrations
warehouse/__pycache__
