{% extends "_root.html" %}
{% load static %}

{% block body %}

<div class="page ">
  {% include '_nav_warehouse.html' %}
  
  <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    SEKAWAN SYSTEMA GROUP
                </div>
                <h2 class="page-title">
                  {{namespace_app}} - Edit Page
                </h2>
              </div>
              <!-- Page title actions -->
              <div class="col-auto ms-auto d-print-none">
              </div>
            </div>
          </div>
        </div>

        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-deck row-cards">
                <div class="col-lg-12">
                  <div class="row row-cards">
                    <div class="col-12">
                      <form class="card" actions="{% url 'warehouse:warehouse-inbound' %}" method="POST">
                        {% csrf_token %}
                        <div class="card-body">
                          <h3 class="card-title col-auto">Edit item | {{ item.product_code }}
                            <div class="text-end">
                              <button type="submit" class="btn btn-danger">Hapus Item</button>
                            </div>
                          </h3>
                          <div class="row row-cards">
                            <div class="col-md-5">
                              <div class="mb-3">
                                <label class="form-label">Kode Barang</label>
                                <input type="text" class="form-control" placeholder="product code" value="{{ item.product_code }}" name="product-code">
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                              <div class="mb-3">
                                <label class="form-label">Nama Barang</label>
                                <input type="text" class="form-control" placeholder="Product Name" value="{{ item.product_name }}" name="product-name">
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                              <div class="mb-3">
                                <label class="form-label">Pengirim</label>
                                <select class="form-select" placeholder="" id="select-sender" name="sender" autocomplete="off">
                                  <option value="">{{ item.sender }}</option>
                                  <option value="1">Maju Jaya Sejahtera (PT)</option>
                                  <option value="2">Citra Harmoni Sukses (CV)</option>
                                  <option value="3">Gemilang Makmur Abadi (PT)</option>
                                  <option value="4">Mitra Sentosa Bersama (CV)</option>
                                  <option value="5">Harapan Baru Sukses (PT)</option>
                                  <option value="6">Cemerlang Sejahtera (CV)</option>
                                  <option value="7">Maju Bersama Mandiri (PT)</option>
                                  <option value="8">Prima Harmoni Cipta (CV)</option>
                                  <option value="9">Sukses Gemilang Sejahtera (PT)</option>
                                  <option value="10">Sentosa Jaya Makmur (CV)</option>
                                  <option value="11">Berkah Sejahtera Abadi (PT)</option>
                                  <option value="12">Mitra Sukses Bersama (CV)</option>
                                  <option value="13">Gemilang Cipta Harmoni (PT)</option>
                                  <option value="14">Citra Mandiri Sejahtera (CV)</option>
                                  <option value="15">Harapan Baru Maju (PT)</option>
                                  <option value="16">Cemerlang Sentosa (CV)</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                              <div class="mb-3">
                                <label class="form-label">Category</label>
                                <select class="form-select" placeholder="" id="select-category" name="category" autocomplete="off">
                                  <option value="">{{ item.sender }}</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                              <div class="mb-3">
                                <label class="form-label">Tanggal Masuk</label>
                                <input type="text" class="form-control" placeholder="Last Name" value="{{ item.date_in }}" name="date-in">
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="mb-3 mb-0">
                                <label class="form-label">About Me</label>
                                <textarea rows="5" class="form-control" placeholder="Here can be your description">Oh so, your weak rhyme
    You doubt I'll bother, reading into it
    I'll probably won't, left to my own devices
    But that's the difference in our opinions.</textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-footer text-end">
                          <button type="submit" class="btn btn-primary">Update Item</button>
                        </div>
                      </form>
                    </div>

                  </div>
                </div>
            </div>
          </div>
        </div>
        
        <footer class="footer footer-transparent d-print-none">
          <div class="container-xl">
            <div class="row text-center align-items-center flex-row-reverse">
              <div class="col-lg-auto ms-lg-auto">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item"><a href="https://tabler.io/docs" target="_blank" class="link-secondary" rel="noopener">Laporkan</a></li>
                  <li class="list-inline-item"><a href="https://github.com/tabler/tabler" target="_blank" class="link-secondary" rel="noopener">Kontak Developer</a></li>
                  <li class="list-inline-item"><a href="./license.html" class="link-secondary">Terms & service</a></li>
                </ul>
              </div>
              <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item">
                    Copyright &copy; 2023
                    <a href="." class="link-secondary">Tabler</a>.
                    All rights reserved.
                  </li>
                  <li class="list-inline-item">
                    <a href="./changelog.html" class="link-secondary" rel="noopener">
                      v1.0.0
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>

    {% comment %} FORM MODAL MERCHANDISE {% endcomment %}
    {% include './form/add_inbound.html' %}
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>
    <script>
      // Fungsi untuk memulai animasi fade out dan hapus elemen
    function fadeOutAndRemove(elementId) {
      var element = document.getElementById(elementId);

      if (element) {
          var opacity = 1;
          var interval = setInterval(function () {
              opacity -= 0.025; // Ubah sesuai kecepatan yang diinginkan
              element.style.opacity = opacity;

              // Setelah elemen benar-benar memudar, hapus dari DOM
              if (opacity <= 0) {
                  clearInterval(interval);
                  element.parentNode.removeChild(element);
              }
          }, 80); // Interval waktu, ubah sesuai kecepatan yang diinginkan
      }
  }

  // Panggil fungsi setelah 5 detik
  setTimeout(function () {
      fadeOutAndRemove('alert');
  }, 5000);


    let table = new DataTable('#inbound-table', {
      // options
    });
    </script>

{% endblock body %}