{% extends "_root.html" %}
{% load static %}

{% block body %}

<div class="page ">
  {% include '_nav.html' %}
  <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    SEKAWAN SYSTEMA GROUP
                </div>
                <h2 class="page-title">
                  Merchandise - SoC
                </h2>
              </div>
              <!-- Page title actions -->
              <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                  <a href="#" class="btn btn-azure-lt d-none d-sm-inline-block" type="button" data-bs-toggle="modal" data-bs-target="#soc-modal">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
                    Buat SOC
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-deck row-cards">
                <div class="col-lg-12">
                    <div class="row row-cards">
                      <div class="col-12">
                        {% if system_info %}
                          <div class="alert alert-primary alert-dismissible" role="alert" id="alert">
                            
                            <span class="status status-blue">
                              <h3 class="mb-1">
                              <span class="status-dot status-dot-animated">
                              </span>
                                  
                              Pemberitahuan</h3></span>
                            <p>{{ system_info_content }}</p>
                            {% comment %} <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a> {% endcomment %}
                          </div>
                        {% endif %}
                        
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">SOC ID</th>
                              <th scope="col">PO Number</th>
                              <th scope="col">Customer</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for doc in soc_document %}
                            <tr>
                              <th scope="row">{{ doc.soc_number }}</th>
                              <td>{{ doc.po_number }}</td>
                              <td>{{ doc.po_number }}</td>
                            </tr>
                             {% endfor %}
                            <tr class="table-primary">
                              <th scope="row">Primary</th>
                              <td>Cell</td>
                              <td>Cell</td>
                            </tr>
                            <tr class="table-dark">
                              <th scope="row">Dark</th>
                              <td>Cell</td>
                              <td>Cell</td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="pagination">
                          <span class="step-links">
                              {% if list_ticket.has_previous %}
                                  <a href="?page=1">&laquo; first</a>
                                  <a href="?page={{ list_ticket.previous_page_number }}">previous</a>
                              {% endif %}
                      
                              <span class="current">
                                  Page {{ list_ticket.number }} of {{ list_ticket.paginator.num_pages }}.
                              </span>
                      
                              {% if page_obj.has_next %}
                                  <a href="?page={{ list_ticket.next_page_number }}">next</a>
                                  <a href="?page={{ list_ticket.paginator.num_pages }}">last &raquo;</a>
                              {% endif %}
                          </span>
                      </div>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        
        <footer class="footer footer-transparent d-print-none">
          <div class="container-xl">
            <div class="row text-center align-items-center flex-row-reverse">
              <div class="col-lg-auto ms-lg-auto">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item"><a href="https://tabler.io/docs" target="_blank" class="link-secondary" rel="noopener">Laporkan</a></li>
                  <li class="list-inline-item"><a href="https://github.com/tabler/tabler" target="_blank" class="link-secondary" rel="noopener">Kontak Developer</a></li>
                  <li class="list-inline-item"><a href="./license.html" class="link-secondary">Terms & service</a></li>
                </ul>
              </div>
              <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item">
                    Copyright &copy; 2023
                    <a href="." class="link-secondary">Tabler</a>.
                    All rights reserved.
                  </li>
                  <li class="list-inline-item">
                    <a href="./changelog.html" class="link-secondary" rel="noopener">
                      v1.0.0
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>


    {% comment %} FORM MODAL MERCHANDISE {% endcomment %}
    {% include './form/add_soc.html' %}


    <script>
      // Fungsi untuk memulai animasi fade out dan hapus elemen
    function fadeOutAndRemove(elementId) {
      var element = document.getElementById(elementId);

      if (element) {
          var opacity = 1;
          var interval = setInterval(function () {
              opacity -= 0.025; // Ubah sesuai kecepatan yang diinginkan
              element.style.opacity = opacity;

              // Setelah elemen benar-benar memudar, hapus dari DOM
              if (opacity <= 0) {
                  clearInterval(interval);
                  element.parentNode.removeChild(element);
              }
          }, 80); // Interval waktu, ubah sesuai kecepatan yang diinginkan
      }
  }

  // Panggil fungsi setelah 5 detik
  setTimeout(function () {
      fadeOutAndRemove('alert');
  }, 5000);
    </script>

{% endblock body %}