{% load static %}

<div class="nav_x" id="nav_id">
  <div class="nav__menu container_nav" id="nav-menu">
      <div class="nav__shape"></div>

      <div class="nav__close" id="nav-close">
          <i class='bx bx-x'></i>
      </div>
      
      <div class="nav__data">
          <div class="nav__mask">
              <!-- Change your profile picture -->
              <img src="assets/img/perfil.png" alt="" class="nav__img">
          </div>

          <span class="nav__greeting">Hi, I'm</span>
          <h1 class="nav__name">Bales <br> Vegas</h1>
      </div>

      <ul class="nav__list">
          <li class="nav__item">
              <a href="#home" class="nav__link active-link">
                  <i class='bx bx-home' ></i> Home 
              </a>
          </li>
          <li class="nav__item">
              <a href="#about" class="nav__link">
                  <i class='bx bx-user'></i> About
              </a>
          </li>
          <li class="nav__item">
              <a href="#portfolio" class="nav__link">
                  <i class='bx bx-briefcase-alt-2'></i> Portfolio
              </a>
          </li>
      </ul>
  </div>
</div>
