{% extends '_root.html' %}
{% load static %}
{% block body %}
    <div class="page page-center">
      <div class="container container-tight py-4">
        {% if status == 400 %}
        <div class="alert alert-important alert-danger alert-dismissible" role="alert">
          <div class="d-flex">
            <div>
              {{message}}
              
            </div>
          </div>
          <a class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="close"></a>
        </div>
        {% endif %}
        <div class="card card-md">
            <div class="text-center mt-4">
                  <img src="{% static 'systemaassets/logo.webp' %}" width="110" height="32" alt="Tabler" class="navbar-brand-image">
                </a>
            </div>
            
          <div class="card-body">
            <h2 class="h2 text-center mb-4">Registrasi akun baru</h2>
            <form action="/register/" method="post" autocomplete="off" novalidate>
            {% csrf_token %}
              <div class="mb-3">
                <label class="form-label">Nomor Telepon</label>
                <input name="phone" type="text" class="form-control" placeholder="08XXXXXX" autocomplete="off" value="{{form.phone}}" required>
              </div>
              <div class="mb-3">
                <label class="form-label">Username</label>
                <input name="username" type="text" class="form-control" placeholder="my_username" autocomplete="off" value="{{form.username}}" required>
              </div>
              <div class="mb-2">
                <label class="form-label">
                  Kata Sandi
                </label>
                <div class="input-group input-group-flat">
                  <input type="password" class="form-control"  placeholder="Kata sandi anda"  autocomplete="off" name="password" id="password" required>
                </div>
                <div class="input-group input-group-flat mt-2">
                  <input type="password" class="form-control"  placeholder="Konfirmasi kata sandi"  autocomplete="off" name="password-confirmation" id="password-confirmation" required>
                  <span class="input-group-text" >
                    <a class="link-secondary" title="Show password" data-bs-toggle="tooltip" id="invisible-password">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
                    </a>
                  </span>
                </div>
              </div>
              <div class="form-footer">
                <button type="submit" class="btn btn-warning w-100">Registrasi</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script>
      var btnInv = document.getElementById('invisible-password');
      var txtPass = document.getElementById('password-confirmation');
      var invPass = false;
      btnInv.addEventListener('click', function (){
        console.log('click');
          if (invPass){
            txtPass.type = 'password';
            invPass = false;
          }
          else {
            txtPass.type = 'text';
            invPass = true;
          }
      });
    </script>

{% endblock body %}